body {
    padding: 15px;
    background-color: #f2f3f5;
}


.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addCateForm .layui-form-item {
    margin-top: 15px;
}

#updateCateForm .layui-form-item {
    margin-top: 15px;
}